[:m-venue.spec/gen-doc [[[[{:nl [["Dit is een betere tekst" "<p>Een mogelijk erg lange introductie tot Martha's Venue en mogelijke links naar nieuws en nestjes enzo. (aangepast opnieuw)</p>"] ["ff wachten nog"]], :en [["This is a better text" "<p>A beautiful long introduction of everything Matha's Venue has to offer</p>"] [nil]]} :1] [2 nil]] [[[{:nl [["Dit is Ixion" "<p>Hij heeft het bij ons erg naar zijn zin</p>"] ["en een ondertitel"]]} :1] [1 nil]] [[{:nl [["Dit is Ixion" "<p>Hij heeft het bij ons erg naar zijn zin</p>"] ["en een ondertitel"]]} :1] [1 nil]] [[{:nl [["Dit is Ixion" "<p>Hij heeft het bij ons erg naar zijn zin</p>"] ["en een ondertitel"]]} :1] [1 nil]]]] []]]