[:m-venue.spec/gen-doc [[
                         [[{:nl [["Sjors" "<p>Een mogelijk erg lange introductie tot Martha's Venue en mogelijke links naar nieuws en nestjes enzo. (aangepast opnieuw)</p>"] [nil]]} :1][1 nil]]
                         [[[{:nl [["Dit is Ixion" "Hij heeft het bij ons erg naar zijn zin"] ["en een ondertitel"]]} :5 ][2 nil]]] []]]]