[:m-venue.spec/nav-item [["German menu" [0 "wordt niet gebruikt"]] [nil [[["Katten" [0 "cats"]] ["cat" [[["Sjors" [0 "sjors"]] [nil []]] [["Saar" [0 "saar"]] [nil [[["saar1" [0 "saar1"]] [nil []]] [["saar2" [0 "saar2"]] [nil []]]]]] [["Amber" [0 "amber"]] [nil []]]]]] [["Google" [1 "http://www.google.com"]] [nil []]] [["Info" [0 "info"]] ["information-outline" []]]]]]]