[:m-venue.spec/all-menus [[{:main-nl :nl
                            :side-nl :nl
                            :main-en :en
                            :side-en :en
                            :main-de :de
                            :side-de :de}] []]]