[:m-venue.spec/gen-doc [[[[[["Alles over katten"] []] [["Een mogelijk erg lange text over katten."] []] :1] [[["Door Martha"] []] nil nil]] [[[[["Alles over het voer"] []] [["Een mogelijk erg lange text over het voeren van katten."] []] :4] [nil nil "http://www.nu.nl"]] [[[["Alles over speeltjes"] []] [["Een mogelijk erg lange text over speeltjes voor katten."] []] :3] [nil 1 nil]]]] []]]