// Import the initial variables
@import "../../../../bulma/sass/utilities/initial-variables"

// Add a serif family
$family-serif: "Merriweather", "Georgia", serif

$red: #ff0000
$primary: $red !default
$danger: $orange !default
$primary-dark: darken($primary, 10)
// Use the new serif family
$family-primary: $family-serif

$navbar-background-color: $primary
$navbar-item-color: $white
$navbar-item-hover-color: $white
$navbar-item-active-color: $white
$navbar-item-active-background-color: darken($primary, 15)
$navbar-item-hover-background-color: darken($primary, 15)
$navbar-dropdown-arrow: $navbar-item-color

.section.app
  background: $red linear-gradient(45deg, #800000, $primary)
  min-height: calc(100% - 3.25rem)

html
  height: 100%

body
  height: 100%

// Import the rest of Bulma
@import "../../../../bulma/sass/utilities/_all"
@import "../../../../bulma/sass/base/all"
@import "../../../../bulma/sass/elements/_all"
@import "../../../../bulma/sass/components/all"
@import "../../../../bulma/sass/grid/_all"
@import "../../../../bulma/sass/layout/_all"