[:m-venue.spec/all-images [[{:1  [[1549815112698 "/img/1/"] []]
                             :2  [[1549815112698 "/img/2/"] []]
                             :3  [[1549815112698 "/img/3/"] []]
                             :4  [[1549815112698 "/img/4/"] []]
                             :5  [[1549815112698 "/img/5/"] []]
                             :6  [[1549815112698 "/img/6/"] []]
                             :11 [[1549816317647 "/img/B/"] []]}
                            "resources/public/img/" 11] []]]